* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f5f5f5;
   
}
h1,h4{
  color: rgb(0, 0, 0);
}
footer p{
  color: #f8f5f5;
}

.navbar {
  font-size: 20px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: black;
  color: white;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}
.logo span {
  color: gold;
}

nav a {
  margin: 15px;
  color: white;
  text-decoration: none;
}

.cart-icon {
  cursor: pointer;
  font-size: 18px;
}


.hero {
  height: 80vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  background-image: url("https://images.unsplash.com/photo-1600185365483-26d7a4cc7519");
  background-size: cover;
  background-position: center top;
  animation: moveBg 12s ease-in-out infinite;
}

@keyframes moveBg {
  0% {
    background-position: top;
  }
  50% {
    background-position:  bottom;
  }
  100% {
    background-position: top;
  }
}
.hero-btn {
  margin-top: 20px;
  background: gold;
  color: black;
  padding: 12px 30px;
  text-decoration: none;
  border-radius: 4px;
}


.shop {
  padding: 60px 30px;
  text-align: center;
}

.products{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  gap: 25px;
  margin-top: 30px;
  gap: 25px;

}

.product {
  background: rgb(223, 218, 218);
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0,0,0,.1);
  transition: .3s;
  box-sizing: initial;
}

.product:hover {
  transform: translateY(-8px);
}

.product img {
  width: 100%;
  border-radius: 8px;
}

.product button {
  margin-top: 12px;
  width: 100%;
  padding: 12px;
  border-radius: 30px;
  border: none;
  font-weight: bold;
  cursor: pointer;

  background: linear-gradient(135deg, rgb(110, 77, 77), rgb(200, 159, 82));
  color: black;
}

.product button:hover {
   transition: transform 0.3s, box-shadow 0.3s;
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}




footer {
  background: black;
  color: gray;
  text-align: center;
  padding: 15px;
}





.contact-info {
  padding: 60px 20px;
  text-align: center;
  background: #f7f7f7;
}

.contact-info h2 {
  font-size: 32px;
  margin-bottom: 30px;
}

.contact-box {
  background: white;
  padding: 25px 40px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.contact-box p {
  font-size: 18px;
  margin: 15px 0;
}

.contact-box i {
  color: gold;
  margin-right: 10px;
}

.contact-box a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}


.social-icons a {
  font-size: 26px;
  margin: 15px;
  color: black;
}

